*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Virtualenv for development
whiskey-venv

# Environment file for Heroku testing
.env

# Apple nonsense files
.DS_Store
+._*
Thumbs.db
.cache
.project
.AppleDouble

# temporary directory
tmp/*

# vim swapfile
*.swp
