<!DOCTYPE html>
<html lang="en">
<head>
  {% if pageinfo['stylesheets'] %}
    {% for item in pageinfo['stylesheets'] %}
  <link rel="stylesheet" type="text/css" href="{{ item }}" />
    {% endfor %}
  {% endif %}
  {% if pageinfo['ajax'] and pageinfo['scripturls'] %}
    {% for scripturl in pageinfo['scripturls'] %}
  <script src="{{ scripturl }}"></script>
    {% endfor %}
  {% endif %}
  {% if pageinfo['title'] %}
  <title>{{ pageinfo['title'] }} | {{ pageinfo['sitename'] }}</title>
  {% else %}
  <title>{{ pageinfo['sitename'] }}</title>
  {% endif %}
</head>
<body>
<div class="content pure-g-r">
  <div class="header pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a id="sitename" class="pure-menu-heading" href="{{ url_for('index') }}">{{ pageinfo['sitename'] }}</a>
      <ul>
      {% for item in pageinfo['navigation'] %}
        <li {% if item['title'] == pageinfo['title'] %}class="pure-menu-selected"{% endif %}>
          <a href="{{ item['href'] }}" title="{{ item['title'] }}">
            {{ item['title'] }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="pure-u-1 splash csstype">
      <div class="pure-u-1">
        <div class="yui3-alert yui3-alert-error">
          <ul class="list plain">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</div>
</body>
</html>
