{% extends "base.html" %}
{% block content %}
{% with user = pageinfo['user'] %}
<div class="pure-u-1 splash csstext">
  <div class="content-ribbon pure-g">
    <div class="pure-u-3-4">
    <h1 class="splash-head">{{ user['fullname'] }}</h1>
    <h2 class="splash-subhead">{{ user['profile'] }}</h2>
    </div>
    <div class="pure-u-1-4">
      <img src="{{ user.avatar(192) }}" alt="{{ user['fullname'] }}" class="yui3-img-bordered" />
      <a href="{{ url_for('profile', nickname = user['nickname']) }}" class="yui3-badge-info">{{ user['fullname'] }}</a>
      <a href="mailto:{{ user['email'] }}" class="yui3-badge-success">{{ user['email'] }}</a>
      <a href="{{ pageinfo['ghurlbase'] }}{{ user['ghlogin'] }}" class="yui3-badge-warning">{{ user['ghlogin'] }} on GitHub</a>
    </div>
  </div>
</div>
<div class="pure-u-2 content csstext">
  {% for post in models.Post().get_all({'author': user['_id']}) %}
    <div class="content-ribbon pure-g-r">
      <div class="pure-u-1-2">
        {% with author = user %}
        {% include "shortpost.inc" %}
        {% endwith %}
      </div>
    </div>
  {% endfor %}
</div>
{% endwith %}
{% endblock %}
