{% extends "base.html" %}
{% block content %}
<div class="pure-u-1 content csstext">
  <div class="content-ribbon pure-g-r">
    {% for user in pageinfo['users'] %}
        <div class="pure-u-1-2">
          <img src="{{ user.avatar(64) }}" alt="{{ user['fullname'] }}" class="yui3-img-rounded leftimg" /> 
          <p>
            <a href="{{ url_for('profile', nickname = user['nickname']) }}">
              {{ user['fullname'] }}
            </a>
          </p>
          <p>
            <a href="http://github.com/{{ user['ghlogin'] }}">
              {{ user['ghlogin'] }}
            </a>
          </p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
~
